@import "./style.scss";
.signup-page {
  .ant-form-item{
    input{
      padding:1.2rem;
    }
  }
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;

  .signup-container {
    width: 100%;
    max-width: 900px;
    box-shadow: $elevate1;
    margin-bottom: 64px;

    > form {
      display: flex;
      flex-direction: row;
    }

    .profile {
      width: 40%;
      padding: 45px 25px;
      background: white;

      .picture-uploader {
        .avatar-uploader {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 45px;
          > .ant-upload {
            width: 200px;
            height: 200px;
          }
        }
      }
    }
    .credentials {
      width: 60%;
      padding: 25px 75px;
      background: $lightBlue;

      .logo {
        text-align: center;
        margin-bottom: 32px;
      }

      .ant-form-item-label > label {
        color: white;
      }
    }
  }
}
