.discussion-thread {
  max-width: 950px;
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;

  .main-discussion {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    border: 2px solid #e8e8e8;
    min-height: 300px;

    .left {
      width: 20%;
      padding: 25px;
      border-right: 2px solid #e8e8e8;
      background: #fafafa;
    }
    .right {
      width: 80%;
      > .ant-card-bordered {
        border: none;
      }
    }
  }

  a.upvote {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    transition: 0.3s;
    > * {
      font-size: 16px;
      color: #bbb;
    }
    > h3 {
      line-height: 14px;
    }
  }
  a.upvote:hover {
    > * {
      color: #1890ff !important;
    }
  }
}
